In [18]:
# Importing Libraries for python
import pandas as pd

# Importing Libraries for SQL
import sqlite3

In [19]:
# Creating dataframe for the weather data
weather_data = {
    'id': [1, 2, 3, 4],
    'recordDate': ['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04'],
    'temperature': [10, 25, 20, 30]
}
weather_df = pd.DataFrame(weather_data)
weather_df

   id  recordDate  temperature
0   1  2015-01-01           10
1   2  2015-01-02           25
2   3  2015-01-03           20
3   4  2015-01-04           30

In [20]:
# ID's with higher temp compared to old date - python solution
previous_temp = weather_df['temperature'].shift(1)
weather_df['prev_temp'] = previous_temp

higher_temp_ids = weather_df[weather_df['temperature'] > weather_df['prev_temp']]['id'].tolist()
higher_temp_ids

[2, 4]

In [21]:
# New SQL Database
conn = sqlite3.connect(':memory:')  # Using in-memory database for demonstration
c = conn.cursor()

# Creating the weather table
c.execute('''
CREATE TABLE Weather (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER
)
''')

# Cleaning columns so that only relevant columns are only present
weather_tuples = [(row['id'], row['recordDate'], row['temperature']) for index, row in weather_df.iterrows()]
c.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?)', weather_tuples)

conn.commit()

In [22]:
# ID's with higher temp compared to old date - SQL Query
sql_query = '''
SELECT W1.id
FROM Weather W1, Weather W2
WHERE W1.recordDate = date(W2.recordDate, '+1 day')
AND W1.temperature > W2.temperature
ORDER BY W1.id ASC
'''

c.execute(sql_query)
sql_result = c.fetchall()

# Printing Result
sql_result

[(2,), (4,)]